<h2>Agregar nueva poliza de seguro</h2>
<form [formGroup]="policyForm" (submit)="save()">
  <label for="name">Nombre de la poliza:</label>
  <div><input type="text" formControlName="name" required>
  </div>
  <label for="description">Descripción:</label>
  <div><input type=" text" formControlName="description"></div>
  <label for="coveringType">Tipo de cubrimiento de la póliza:</label>
  <div>
    <select formControlName="coveringType">
      <option [ngValue]="0" selected>Terremoto</option>
      <option [ngValue]="1">Incendio</option>
      <option [ngValue]="2">Robo</option>
      <option [ngValue]="3">Pérdida</option>
    </select>
  </div>
  <label for="coveragePercentage">Porcentaje de la cobertura:</label>
  <div><input type="number" formControlName="coveragePercentage"></div>
  <label for="amountMonthsCoverage">Periodo de cobertura definido en meses:</label>
  <div><input type="number" formControlName="amountMonthsCoverage"></div>
  <label for="price">Precio:</label>
  <div><input type="number" formControlName="price"></div>
  <label for="riskType">Tipo de Riesgo:</label>
  <div>
    <select formControlName="riskType">
      <option [ngValue]="0" selected>Bajo</option>
      <option [ngValue]="1">Medio</option>
      <option [ngValue]="2">Medio-Alto</option>
      <option [ngValue]="3">Alto</option>
    </select>
  </div>
  <br />
  <div>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-raised-button color="primary" type="button" (click)="cancel()">Cancelar</button>
  </div>
</form>